# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg
*.db
*.sqlite3

# Virtualenv
venv/
.env/

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Django
media/

# Claude
.claude/
